<footer id="footer">
  <div class="footer-top">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 footer-info">
  <h1>Website</h1>
 <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quia, esse numquam unde eum beatae. Tempore veniam iste dolore, praesentium qui dolor dicta sed ullam reiciendis placeat! Optio, atque nulla.</p>
</div>
<div class="col-lg-3 col-md-6 footer-links">
  <h4>Usefuls links</h4>
<ul>
    <li><i class="ion-ios-arrow-right"></i><a href="#">Home</a></li>
    <li><i class="ion-ios-arrow-right"></i><a href="#">Eleveurs</a></li>
    <li><i class="ion-ios-arrow-right"></i><a href="#">Animals</a></li>
    <li><i class="ion-ios-arrow-right"></i><a href="#">About Us</a></li>  
</ul> 
</div>
<div class="col-lg-3 col-md-6 footer-contact">
 <h4>Follow Us
   <a href="#" class="twiter"><i class="fa fa-twitter"></i></a>
   <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
   <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
   <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  </h4>
</div>
<div class="col-lg-3 col-md-6 footer-contact">
  <h4>Our NewLettrer</h4>
  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  <form action="" method="POST">
    <input type="mail" name="mail">
    <input type="submit" name="Subscribe">
  </form>
</div>
</div>
</div>
</div>
<p class="copyright text-muted">copyright &copy;Website 2018</p>
</footer>
