/*li{
    border:2px solid skyblue;
}
.badge{
    /*border:2px solid Tomato;
    background-color: black;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}
.btn btn-info{
    text-align: left;
}

.main{
  font-family: Arial, Helvetica, sans-serif;
}*/