<!-- <ul class="post">
<li *ngFor="let post of posts">
<span class="badge">{{post.id}}</span>{{post.title}}
</li>
</ul> -->

  <div class="img-container">
        <div class="inner-container">
            <h1> SAMPLE</h1>
            <h2>Happy cooker</h2>
        </div>
  </div>

  <div class="grid-container">
    <div class="grid-box box1">
      <div class=" me-border">  
       <div> <img src="https://source.unsplash.com/random/200x50" alt="userCoverPicture"> </div>
        <div class="phot">  <img src="https://source.unsplash.com/random/75x75" alt="userPicture"> </div>
          <p>nom</p>
      </div>
    </div>
    <div class="grid-box box2">
      <div class="text-left">
        <p><input type="text" placeholder="Title..." #postTitle></p>
          <div class="postEditRow"> <!--row-->
            <div class="form-group">
               <textarea type="text" class="form-control float-left" rows="3" placeholder="what is your mind?..." #postBody></textarea>
            </div>
          </div>
                
          <div class="form-control-file">
             <button class="btn btn-success" (click)="add(postTitle.value, postBody.value, postAuthor.value,'https://source.unsplash.com/random/75x75'); postTitle.value=''; postBody.value='';postAuthor.value=''">Ajouter</button> 
          </div>   
          <div class="text-left">
             <p><input type="text" placeholder="name..." #postAuthor></p>
           </div>
       </div>   
    </div>
         <div class="grid-box box3">
              </div>
          
     <div class="grid-box box4">
    <div class="container p-3" *ngFor="let post of posts;">
        <div class="row bg-light">
                  <!-- profile post info -->
          <div class="post-logo pl-1">
             <img src="https://source.unsplash.com/random/75x75" alt="Logo 100" width="auto" height="auto" class="img-thumbnail" />
          </div>
          <div class="col-lg-7 col-md-5 post-content pl-2">
            <div class="bg-light">
                    <a routerLink="/detail/{{post.id}}"><h4>{{post.title}}</h4></a>
                    <p>{{post.body}}</p>
                    </div>
         <div class="containr">
            <div class="col-lg-3 col-md-5 pl-2">
                    <p><a href="/detail/{{post.id}}" class="btn btn-info"><i class="fa fa-eye"></i></a></p>
                  <p><a href="/editPost/{{post.id}}" class="btn btn-warning"><i class="fa fa-edit"></i></a></p>
                <button (click)="deletePost(post.id);" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
         </div>           
      </div>
     </div>
          
     <div class="row text-center ButtonStyle">
         <div class="like-button">
                  <button (click)="addLike(post.id);"><i class="fa fa-thumbs-up"></i> {{post.likes}} </button> 
                  <button (click)="addComment(post.id);"><i class="fa fa-commenting"></i> {{post.likes}} </button> 
                 <button (click)="addDislike(post.id);"><i class="fa fa-thumbs-down"></i> {{post.dislikes}} </button> 
         <div class="dropdown">
            
        <div class="postEditRow"> <!--row-->
            <div class="search">
                 <input placeholder="Write a comment" #postComments type="text">
            </div>
         <!-- <div class="like-comment">
                                <button class="btn btn-success" (click)="addComment(postComments.value); postComments.value='';">
                                <i class="fa fa-commenting"></i> Comment</button>
          </div> -->
                      </div>
                </div>
          </div>
      </div>
  </div>
  </div>
  </div>
